.contact {
  &-bright-bg-mail,
  &-bright-bg-tel {
    display: flex;
    align-items:center; 
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
  }
  &-bright-bg-mail:hover,
  &-bright-bg-mail:focus,
  &-bright-bg-tel:hover,
  &-bright-bg-tel:focus {
    color: var(--bright-accent-color);
  }
  &-bright-bg-mail:hover .icon-envelope-svg,
  &-bright-bg-mail:focus .icon-envelope-svg,
  &-bright-bg-tel:hover .icon-smartphone-svg,
  &-bright-bg-tel:focus .icon-smartphone-svg {
    fill: var(--bright-accent-color);
  }

  &-map,
  &-mail,
  &-tel {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.713;
    letter-spacing: 0.03em;
  }
  &-map {
    color: var(--titel-accent-bg-color);
  }
  &-map,
  &-mail {
    display: inline-block;
    margin-bottom: 10px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-map:hover,
  &-map:focus,
  &-mail:hover,
  &-mail:focus,
  &-tel:hover,
  &-tel:focus {
    color: var(--bright-accent-color);
  }
}
.icon {
  &-envelope-svg,
  &-smartphone-svg {
    margin-right: 10px;
    fill: var(--primary-text-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}



