html {
   box-sizing: border-box;
 }
 
 *,
 *::before,
 *::after {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
 }
 
 body {
   font-family: $main-font;
 }
 
 img {
   display: block;
 }
 
 .list {
   list-style: none;
 }
 .link {
   text-decoration: none;
 }
 
 .background-color {
   color: $primary-bg-color;
 }
 .header {
   background-color: $titel-accent-bg-color;
 }
 .logo-accent {
   color: $bright-accent-color;
 }
 
 .footer {
   background-color: $hero-footer-bg-color;
 }
 .contact {
   &-map {
    font-style: normal;
   }
   &-mail {
    font-style: normal;
   }
   &-tel {
    font-style: normal;
   }
 }
 .contact-bright-bg-mail,
 .contact-bright-bg-tel {
   color: $primary-text-color;
 }
 .contact-mail,
 .contact-tel {
   color: $secondary-text-color;
 }
 .option-button {
   color: $titel-text-color;
   background-color: $secondary-bg-color; 
 }
 
 